<div class="row m-t-md">
  <div class="col-md-3 col-sm-6">
    <%= f.input :forecast %>
  </div>
  <div class="col-md-3 col-sm-6">
    <%= f.input :actual %>
  </div>
</div>
<div class="row m-t">
  <div class='col-md-3 col-sm-6'>
    <%= f.association :box_type, input_html: { :class => 'custom-select companies' } %>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-6">
  <%= f.button :submit, 'Save', class: 'btn btn-primary m-t-md' %>
  </div>
</div>
