<div class="row">
  <div class="col-sm-6">
    <div class="dashhead">
      <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Box</h6>
        <h2 class="dashhead-title"><%= @box.name %>
        </h2>
      </div>
    </div>
  </div>
  <div class="col-sm-6 text-xs-right">
    <div class="btn-group">
      <%= link_to( icon('edit'),
          edit_box_path(@box),
          class: 'btn btn-primary-outline', 'data-turbolinks' => false ) %>
      <%= link_to( icon('trash'),
          box_path(@box), method: 'DELETE', data: {confirm: "Are you sure you want to delete #{@box.name}?"},
          class: 'btn btn-primary-outline' ) %>
    </div>
  </div>
</div>
