<div class="row m-t-md">
  <div class="col-sm-6">
    <%= f.input :name %>
    <%= f.association :company, input_html: { :class => 'custom-select companies' }  %>
    <%= f.input :country, prompt: "Please select one", label: "Source country", input_html: { :class => 'custom-select countries' } %>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
  <%= f.button :submit, 'Save', class: 'btn btn-primary m-t-md' %>
  </div>
</div>
