<div class="row">
  <div class="col-sm-6">
    <div class="dashhead">
      <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Brand</h6>
        <h2 class="dashhead-title"><%= @brand.try(:name) %></h2>
      </div>
    </div>
  </div>
</div>
<%= simple_form_for @brand, defaults: {
      wrapper_html: { class: 'form-group' },
      input_html: { class: 'form-control' }
    } do |f| %>
  <%= render 'form', f: f %>
<% end %>
