<div class="row">
  <div class="col-sm-6">
    <div class="dashhead">
      <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Category</h6>
        <h2 class="dashhead-title"><%= @category.name %> </h2>
      </div>
    </div>
  </div>
</div>
<div class="row m-t-md">
  <div class="col-sm-3">
    <div class="statcard statcard-border p-a">
      <span class="statcard-desc">Tariff Rate</span>
      <h3 class="statcard-number">
        <%= @category.tariff_rate %>
      </h3>
    </div>
  </div>
</div>